


<template name="About">
<section id="about" class="section-padding">
    <div class="container">
    <div class="row">
    <!-- <div class="background-image1"> -->
        <div class="col-md-12 col-sm-12 text-left">
           <h3 class=" big-headline waypoint fade-up">Seminario Taller</h3>
          <h1 class=" med-headline waypoint fade-up"> Tecnologias de Impresion 3D</h1>
         <!--   <h1 class="big-headline  waypoint fade-up">Seminario</h1> -->
        </div>
        <div class="waypoint fade-right">
          <p class="lead"> Este seminario tiene por objetivo que los participantes adquieran conocimientos sobre el uso y construcción de tecnologías de impresión 3D de filamento fundido. El seminario se compone de dos talleres . El  <a href="{{pathFor 'overview' hash='taller1'}}"> taller 1 </a>tiene por objeto introducir en el uso de la impresora 3D, es decir como transformar una idea en un objeto fisico.  El <a href="{{pathFor 'overview' hash='taller2'}}"> taller 2 </a> esta dedicado a la construccion de impresoras 3D. Los mismos se llevaran a cabo entre el 13 de Septiembre y el 6 de Octubre de 2017, para mas información siga los link del sitio. 
          </p>
         </div>
     <!-- </div> -->
     </div>
    </div>
  </section>
</template>

