
<template name="Schedule">
  <section id="schedule" class="section-padding">
    <div class="container">
      <div class="row">
        

        <div class="col-sm-6 col-md-offset-1 col-md-6 text-center visible-md visible-lg">
<!--           <img class="img-resposive" src="/images/3dprinter.jpg">
 -->          
           <img class="img-resposive" src="/images/calendario.jpg">
        </div>
       
        <div class="col-md-4">
         <div class="visible-sm visible-xs">
          <img class="img-resposive" src="/images/calendario_chico.jpg">
         </div>
        </div>
        
      </div>
    </div>
  </section>
</template>

