
<template name="Schedule">
  <section id="schedule" class="section-padding">
    <div class="container">
      <div class="row">
        
        <div class="col-md-5 col-sm-6 text-center">
        <!-- <div class="col-sm-6 col-md-offset-1 col-md-6 text-center "> -->
          <h1 class="med-headline  waypoint fade-up">Taller 1 </h1>
        
           <img class="img-resposive" src="/images/calendario_taller1.png">
        </div>
         <div class="col-md-5 col-sm-6 text-center">
        <!-- <div class="col-sm-6 col-md-offset-1 col-md-6 text-center "> -->
          <h1 class="med-headline  waypoint fade-up">Taller 2 </h1>
        
           <img class="img-resposive" src="/images/calendariotaller2.png">
        </div>
       
        
      </div>
    </div>
  </section>
</template>



