
<template name="Footer">
  <section id="footer" class="border-top">
    <div class="container">
    

    
        
  
      <div class="row">
        <div class="col-xs-12"> 
          <img class="img-resposive visible-md visible-lg center-block" src="/images/logitos.png" /> 
        </div>
        <div class="col-xs-12"> 
         <h3 class="text-center visible-md visible-lg">Copyright © Laboratorio de Informática Aplicada a la Innovoción 2016</h3>
         <h2 class="text-center visible-md visible-lg">Instituto de Informática</h2>
        </div>
      </div>
<!--     <h3 class="visible-md visible-lg">3 columns</h3><h3 class="visible-sm visible-xs">1 una column</h3>
 -->    <div class="row">
        <div class="col-md-4"><img class="img-resposive visible-sm visible-xs " src="/images/logitos_copyRight.png" /></div>
    
        </div>


    </div>    
  </section>
</template>

