<template name="Arancel">
  <section id="arancel" class="section-padding">
    <div class="container">
      <div class="row">
       
   

       <div class="col-md-5 col-sm-6 text-left">
          <h1 class="med-headline  waypoint fade-up">Aranceles Taller 1 </h1>
           
          <div class="waypoint fade-right">
          <p class="lead">  Estudiantes..........................$250 </p>
          <p class="lead">  Docentes.............................$550 </p>
          <p class="lead">  Personas externas a UNSJ.............$750 </p>
         </div>
      
       </div>
       <div class="col-md-5 col-sm-6 text-left">
          <h1 class="med-headline  waypoint fade-up">Aranceles Taller 2 </h1>
           
          <div class="waypoint fade-right">
          <p class="lead">  Estudiantes..........................$250 </p>
          <p class="lead">  Docentes.............................$700 </p>
          <p class="lead">  Personas externas a UNSJ.............$1100 </p>
         </div>
      
       </div>
            <div class="row">
                  <div  class="col-xs-12 waypoint fade-up text-center">
            
             <h2 class="big-headline blink_me" >¡¡ Si realizan los dos talleres se bonifica el 20%!!</h2>
             <div class="waypoint fade-right">
              <p class="lead">  Estudiantes..........................$400 </p>
              <p class="lead">  Docentes.............................$1000 </p>
              <p class="lead">  Personas externas a UNSJ.............$1500 </p>
             </div>
                
            </div>
            </div>
     </div>
    </div>

  


  </section>
</template>
