<template name="Header">
  <header role="banner">
      <div class="navbar-affix">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
               
            {{#if currentUser}}    
              <strong><a class="navbar-brand" href="/"> {{nombre}}
                     </a>
              </strong>
            {{else}}
              <strong><a class="navbar-brand" href="/">3D PRINTING DAY</a></strong>
            
            {{/if}}  
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <div class="container">
               <ul class="nav navbar-nav navbar-right">
                                  
                   <li class="{{ activeIfTemplateIs 'about' }}"> <a href="{{pathFor 'overview' hash='about'}}">
                       <span class= 'glyphicon glyphicon-user'></span> Acerca de</a>
                   </li>
                   
                   <li class="{{ activeIfTemplateIs 'taller1' }}"> <a href="{{pathFor 'overview' hash='taller1'}}">
                       <span class= 'glyphicon glyphicon-text-size '></span> Taller 1</a>
                   </li>

                   <li class="{{ activeIfTemplateIs 'taller2' }}"> <a href="{{pathFor 'overview' hash='taller2'}}">
                       <span class= 'glyphicon glyphicon-text-size'></span> Taller 2</a>
                   </li>
                   
                   <li class="{{ activeIfTemplateIs 'meetup' }}"><a href="{{pathFor 'overview' hash='meetup'}}">
                       <span class='glyphicon glyphicon-map-marker'></span>Donde</a>
                   </li>

                   <li class="{{ activeIfTemplateIs 'schedule' }}"> <a href="{{pathFor 'overview' hash='schedule'}}">
                       <span class='glyphicon glyphicon-calendar'></span>Calendario</a>
                   </li>

                    <li class="{{ activeIfTemplateIs 'arancel' }}"> <a href="{{pathFor 'overview' hash='arancel'}}">
                       <span class='glyphicon glyphicon-usd'></span>Arancel</a>
                   </li>
                   
                 
                    {{#if currentUser}}  
                      <li><a href="{{pathFor 'overview' hash='contact'}}">
                       <span class='glyphicon glyphicon-envelope'></span> Datos Usuario</a>
                      </li>
           
                      {{#if isInRole 'admin'}}
                      <li><a href="{{pathFor 'listp' }}">
                       <span class='glyphicon glyphicon-envelope'></span> Listar PreInscriptos</a>
                      </li>
                       <li><a href="{{pathFor 'selpreinscri' }}">
                       <span class='glyphicon glyphicon-envelope'></span> Gestionar PreInscriptos</a>
                      </li>
                       {{/if}}

                     <li class="{{ activeIfTemplateIs 'signout' }}"> <a href="{{pathFor 'signout' }}">
                        <span class=' glyphicon glyphicon-new-window'></span> Cerrar Sesion</a>
                     </li>
<!--
                     <li class="{{ activeIfTemplateIs 'signout' }}"><li class="dale">
                        <span class=' glyphicon glyphicon-new-window'></span> Cerrar Sesion</li>
                     </li>
                   
-->
                  
                  {{else}}
                      <li><a href="{{pathFor 'overview' hash='contact'}}">
                       <span class='glyphicon glyphicon-envelope'></span> Pre-Inscripción</a>
                      </li>
                     <li class="{{ activeIfTemplateIs 'login' }}"> <a href="{{pathFor 'login' }}">
                       <span class=' glyphicon glyphicon-new-window'></span> Iniciar Sesion</a>
                     </li>
                    {{/if}}  
                                 
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </div>
        </nav>
      </div>
  </header>
</template>





<!-- <template name="Header">
  <header role="banner">
      <div class="navbar-affix">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
        
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          
         
              <strong><a class="navbar-brand" href="/">3D PRINTING DAY</a></strong>
            </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <div class="container">
                <ul class="nav navbar-nav navbar-right">
                 
                    
                  <li class="{{ activeIfTemplateIs 'about' }}"> <a href="{{pathFor 'overview' hash='about'}}"><span class='glyphicon glyphicon-user'></span> Acerca de</a></li>
                  <li class="{{ activeIfTemplateIs 'meetup' }}"><a href="{{pathFor 'overview' hash='meetup'}}"><span class='glyphicon glyphicon-map-marker'></span>Donde</a></li>
                  <li><a href="{{pathFor 'overview' hash='contact'}}"><span class='glyphicon glyphicon-envelope'></span> Pre-Inscripción</a></li>
                  <li class="{{ activeIfTemplateIs 'register' }}"> <a href="{{pathFor 'login' }}"><span class=' glyphicon glyphicon-new-window'></span> Iniciar Sesion</a></li>
                                 
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
  </header>
</template>-->


