<template name="Espera">



  <section id="espera" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6 text-right">
         <h1 class="big-headline waypoint fade-up">PRE-INSRIPCION EN PROCESO</h1>
            <p class="lead waypoint fade-right"> Un email ha sido enviado a su casilla de correo, por favor revise y consteste el correo que le hemos enviado para terminar el proceso de pre-inscripción. Considere que puede haber sido clasificado como SPAM por su proveedor de email. Ante cualquier duda escribanos a tcrearinnovar@gmail.com. Desde ya muchas gracias por su tiempo e interes.
             </p>
         </div>
       </div>
      </div>
   </section>
    
</template>
