<template name="Taller1">
<section id="taller1" class="section-padding">
    <div class="container">
      
      <div class="row">
        <div class="col-md-5 col-sm-6 text-left">
          <h1 class="med-headline  waypoint fade-up">Taller 1 </h1>
            <h1 class="med-headline  waypoint fade-up">  Introducción a la impresión 3D</h1>
          <div class="waypoint fade-right">
          <p class="lead"> Este taller tiene como objetivo que los asistentes descubran las etapas de la impresión 3D: modelado, slicing e impresión. La carga horaria es de 26 horas, distribuidad en 16 horas presenciales y 10 horas no presenciales. El mismo se llevará a cabo entre los dias 13 y 18 de mes de Septiembre de 2017 según<a href="{{pathFor 'overview' hash='schedule'}}">  calendario </a> propuesto. 
 <!-- 
          El desarrollo del taller esta a cargo del LABORATORIO DE INFORMÁTICA APLICADA A LA INNOVACIÓN perteneciente al INSTITUTO DE INFORMATICA de la Universidad Nacional de San Juan.</p>
          <p>Desde el laboratorio vemos a las tecnologías de impresión 3d como una oportunidad para la innovación en diferentes campos. Es así que toma interés la impresión 3D, en el ámbito de la formación de los estudiantes, como una herramienta que permite desarrollar habilidades para innovación y espíritu emprendedor. Desde una perspectiva mas social sus potencialidades de aplicacion atraviesan una amplia gama de actividades productivas y sociales, con la capacidad de impactar sustantivamente en la vida de las personas proponiendo nuevas maneras de hacer, producir y comunicarse. -->
          </p>
         </div>
      
        </div>

        <div class="col-sm-6 col-md-offset-1 col-md-6 text-center">
          <img class="img-resposive" src="/images/intro3D.jpg">
        </div>
      </div>
   </div>
  </section>
</template>

