
<template name="Meetup">
  <section id="meetup" class="section-padding border-bottom">
    <div class="container">
      <h1 class="big-headline text-center"></h1>
      <div class="row">
        <div class="col-md-5 col-sm-6 text-right">
        </div>
        <div  class="col-sm-6 col-md-offset-1 col-md-6  waypoint fade-up">
          <h1 class="big-headline">DONDE</h1>
          <p class="lead">EL taller se realizará en la Facultad de Ciencias Exactas, Físicas y Naturales de la Universidad Nacional de San Juan entre los dias 12 al 16 del mes de Diciembre de 2016.</p>          
          <div>
            <button name="submit" class="btn btn-block btn-primary btn-lg disabled ">Nos vemos pronto!</button>
          </div>          
        </div>
      </div>
    </div>
  </section>
</template>

