
<template name="Fichadatos">
  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6 text-right">
          <h1 class="big-headline waypoint fade-up">Tus Datos</h1>
          <p class="lead waypoint fade-right"> Gracias por postularte para el taller de impresion 3D, en los proximos dias nos estaremos comunicando contigo. Chau, hasta pronto !!!      </p>
        </div>
      {{> DatosForm class="col-sm-6 col-md-offset-1 col-md-6 waypoint fade-right"}}  
      </div>
      </div>
  </section>
</template>
