<template name="Seminario">
  <section id="seminario" class="section-padding">
    <div class="container">
    <div class="row">
    <div class="background-image1">
        <div class="col-md-12 col-sm-12 text-left">
           <h3 class=" big-headline waypoint fade-up">Seminario Taller</h3>
          <h1 class=" med-headline waypoint fade-up"> Tecnologias de Impresion 3D</h1>
         <!--   <h1 class="big-headline  waypoint fade-up">Seminario</h1> -->
        </div>
        <div class="waypoint fade-right">
          <p class="lead"> Este seminario consiste de dos talleres . El taller 1 tiene por objeto introducir en el uso de la impresora 3D, es decir como transformar una idea en un objeto fisico.  El taller 2 esta dedicado a la construccion de impresoras 3D. Para mas información Los mismo seran dictados  que llevará a cabo entre los dias 12 y 16 de mes de Diciembre de 2016 según<a href="{{pathFor 'overview' hash='schedule'}}">  calendario </a> propuesto. 
          </p>
         </div>
     </div>
     </div>
    </div>
</section>
</template>